E2. (10 min.) Cargue el conjunto de datos referente al COVID-19 en un notebook en modo local. Una vez cargado,
obtenga en un nuevo dataframe aquellos registros cuyo continente sea Europa y muestre el número de casos y de muertes totales por COVID-19 agrupado por cada país.

In [3]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.0/13.0 MB 50.0 MB/s eta 0:00:0000:0100:01
Collecting numpy<2,>=1.22.4
  Downloading numpy-1.26.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.2/18.2 MB 38.8 MB/s eta 0:00:0000:0100:01
Collecting tzdata>=2022.7
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 KB 51.1 MB/s eta 0:00:00
Collecting pytz>=2020.1
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 505.5/505.5 KB 49.3 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /home/developer/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.1 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("https://opendata.ecdc.europa.eu/covid19/casedistribution/csv")

In [6]:
df.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266
4,10/12/2020,10,12,2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.968658

In [7]:
dfEuropa = df[df.continentExp == "Europe"]

In [8]:
dfEuropa.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
340,14/12/2020,14,12,2020,788,14,Albania,AL,ALB,2862427.0,Europe,380.970414
341,13/12/2020,13,12,2020,879,12,Albania,AL,ALB,2862427.0,Europe,382.612378
342,12/12/2020,12,12,2020,802,12,Albania,AL,ALB,2862427.0,Europe,370.943958
343,11/12/2020,11,12,2020,873,14,Albania,AL,ALB,2862427.0,Europe,365.459102
344,10/12/2020,10,12,2020,752,15,Albania,AL,ALB,2862427.0,Europe,357.878122

In [9]:
dfEuropa.groupby(by="countriesAndTerritories")[['cases','deaths']].sum().sort_values('cases',ascending=False)

                           cases  deaths
countriesAndTerritories
Russia                   2653928   46941
France                   2376852   57911
United_Kingdom           1849403   64170
Italy                    1843712   64520
Spain                    1730575   47624
Germany                  1337078   21975
Poland                   1135676   22864
Turkey                    995471   16199
Ukraine                   900666   15247
Netherlands               612746   10034
Belgium                   608001   17951
Czechia                   581079    9609
Romania                   556335   13385
Switzerland               372329    5378
Portugal                  348744    5559
Sweden                    320098    7514
Austria                   320036    4400
Hungary                   283870    7130
Serbia                    266432    2331
Georgia                   191063    1839
Bulgaria                  179449    5688
Croatia                   175886    2640
Azerbaijan                175874    1922
Belarus                   160295    1263
Armenia                   148682    2503
Slovakia                  132984    1175
Moldova                   126518    2572
Greece                    124534    3625
Denmark                   109758     941
Bosnia_and_Herzegovina    101117    3336
Slovenia                   96314    1459
Lithuania                  95021     825
Ireland                    76185    2124
North_Macedonia            73638    2121
Albania                    48530    1003
Kosovo                     46580    1198
Montenegro                 41426     582
Luxembourg                 41272     396
Norway                     40022     387
Finland                    30810     453
Latvia                     25675     349
Estonia                    18055     149
Cyprus                     15101      78
Malta                      11101     166
Andorra                     7338      79
Iceland                     5557      28
San_Marino                  1947      51
Jersey                      1779      32
Liechtenstein               1514      18
Gibraltar                   1075       5
Monaco                       668       2
Faroe_Islands                528       0
Isle_of_Man                  370      25
Guernsey                     289      13
Holy_See                      26       0