E5. (10 min.) Cargue en un notebook de Google Colab el conjunto de datos IRIS. Por otro lado, genere un dataframe que contenga el mismo número de filas que el cargado anteriormente. Como columnas, deberá tener 3: variety, que deberá asignarse los valores del conjunto de datos original, además de las columnas A y B, que contendrán valores aleatorios.
Una vez realizado este paso una los dos dataframes por el atributo variety e imprima los 20 últimos registros

In [1]:
import pandas as pd
from numpy.random import rand

In [2]:
df = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [3]:
len(df)

150

In [4]:
df.shape[0]

150

In [5]:
df2 = pd.DataFrame({'variety': df.variety, 'A' : rand(df.shape[0]), 'B' : rand(df.shape[0])})
df2.head()

  variety         A         B
0  Setosa  0.398656  0.891724
1  Setosa  0.662692  0.147206
2  Setosa  0.178274  0.164181
3  Setosa  0.945350  0.689280
4  Setosa  0.477437  0.802546

In [6]:
dfFinal = pd.merge(df,df2)
dfFinal.head()

,sepal.length,sepal.width,petal.length,petal.width,variety,A,B
0,5.1,3.5,1.4,0.2,Setosa,0.398656,0.891724
1,5.1,3.5,1.4,0.2,Setosa,0.662692,0.147206
2,5.1,3.5,1.4,0.2,Setosa,0.178274,0.164181
3,5.1,3.5,1.4,0.2,Setosa,0.945350,0.689280
4,5.1,3.5,1.4,0.2,Setosa,0.477437,0.802546

In [7]:
dfFinal.A

0       0.398656
1       0.662692
2       0.178274
3       0.945350
4       0.477437
          ...
7495    0.718872
7496    0.734129
7497    0.253947
7498    0.294381
7499    0.298159
Name: A, Length: 7500, dtype: float64